@font-face {
    font-family: Nunito;
    src: url("../Fonts/Nunito.ttf");
}

body, html {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #000000;
    display: block;
    height: 100%;
    width: 20%;
}

.navbar .title {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    font-family: Nunito;
    font-size: 140%;
    height: 10%;
    justify-content: center;
    padding-bottom: 2.5%;
    width: 100%;

    /* Just for help */
    background-color: #333333;
}

.navbar button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: Nunito;
    margin-bottom: 1.25%;
    margin-top: 1.25%;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;
}