@font-face {
    font-family: Nunito;
    src: url("../Fonts/Nunito.ttf");
}

body, html {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}

.navbar1 {
    background-color: #000000;
    display: block;
    float: left;
    height: 100%;
    width: 20%;
}

.navbar1 .title {
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: Nunito;
    font-size: 140%;
    height: 10%;
    justify-content: center;
    margin-bottom: 10%;
    width: 100%;

    /* Cuma untuk nandain */
    background-color: #333333;
}

.navbar2a {
    cursor: pointer;
    display: flex;
    float: left;
    height: 5%;
    margin-bottom: 10%;
    width: 30%;
}

.navbar2a img {
    display: inline-block;
    height: 100%;
    padding-left: 50%;
}

.navbar2b {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 5%;
    margin-bottom: 10%;
    width: 70%;
}

.navbar2b p {
    color: #FFFFFF;
    font-family: Nunito;
    padding-left: 5%;
}